.backdrop {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 1;
    transition: opacity var(--duration) var(--timing-function),
        visibility var(--duration) var(--timing-function);
}

.is__hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal__wrapper {
    position: absolute;
    background-color: var(--primary-white-color);
    width: 528px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 41px;
    padding-right: 39px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -45%);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform var(--duration) var(--timing-function);
}

.backdrop.is__hidden .modal__wrapper {
    transform: translate(-50%, -50%) scale(0.5);
}

.modal__icon-btn {
    fill: #000000;
    transition: fill var(--duration) var(--timing-function);
}


.modal__btn {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 8px;
    top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;

        & .modal__icon-btn:hover,
        & .modal__icon-btn:focus {
            fill: var(--accent-color);
        }
}

.form__title {
    display: block;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
    color: var(--primary-text-color);
}

.form__group {
    display: block;
    margin-bottom: 10px;
    position: relative;
}

.form__icon {
    position: absolute;
    left: 15px;
    top: 30px;
    fill: var(--primary-text-color);
    transition: fill var(--duration) var(--timing-function);
}



.form__label {
    text-align: left;
    display: block;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--secondary-text-color);
    margin-bottom: 4px;
}

.form__input {
    width: 100%;
    height: 40px;
    padding: 12px 16px 12px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    transition: border-color var(--duration) var(--timing-function);

    &:hover,
    &:focus {
            border-color: var(--accent-color);
        }

    &:hover {
        cursor: pointer;
    }

    &:focus+.form__icon{
        fill: var(--accent-color);
    }
}

.comment__area {
    display: block;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-bottom: 20px;
    resize: none;
    padding: 12px 16px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    transition: border-color var(--duration) var(--timing-function);
    outline: transparent;

    &:hover,
    &:focus {
            border-color: var(--accent-color);
        }
}



.form__policy-group {
    display: flex;
    margin-left: 13px;
    align-items: center;
    margin-bottom: 40px;
}

.form__policy-description {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

.modal-link {
    color: var(--accent-color);
    text-decoration: underline;
}

.custom__checkbox {
    width: 16px;
    height: 15px;
    background-color: var(--primary-white-color);
    border: 2px solid var(--primary-text-color);
    border-radius: 2px;
    margin-right: 7px;
    transition: border-color var(--duration) var(--timing-function),
        background-color var(--duration) var(--timing-function),
        background-image var(--duration) var(--timing-function);

    &:hover {
            border-color: var(--accent-color);
        }
}

.input__check {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:focus+.custom__checkbox {
            border-color: var(--accent-color);
        }

    &:checked+.custom__checkbox {
        background-color: var(--accent-color);
        border-color: var(--accent-color);
        background-image: url(../image/icon/icon-check.svg);
        background-size: contain;
        background-position: center;
        background-origin: border-box;
}
}

.submit__btn {
    width: 200px;
}