.sec__clients{
  @media screen and (min-width: 480px) and (max-width: 767px) {
      padding-bottom: 60px;
      padding-top: 60px;
    }
  
    @media screen and (max-width: 479px) {
      padding-bottom: 60px;
      padding-top: 60px;
    }
  
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      padding-bottom: 60px;
      padding-top: 60px;
    }
}

.client__list {
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 480px) and (max-width: 767px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    @media screen and (max-width: 479px) {
      display: block;
      justify-content: center;
    }
  
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
}

.client__list-item {
  width: 170px;
  height: 92px;

  &:not(:last-child) {
      margin-right: 30px;
    }
        @media screen and (min-width: 480px) and (max-width: 767px) {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          &:nth-child(2n){
            margin: 0;
          }
          &:nth-child(n-2) {
            margin-bottom: 30px;
          }
        }
    
        @media screen and (max-width: 479px) {
          width: 100%;
          &:not(:last-child){
            margin-bottom: 15px;
          }
        }
    
        @media screen and (min-width: 768px) and (max-width: 1199px) {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          

          &:nth-child(3n) {
              margin-bottom: 30px;
            }
          
            &:nth-child(2n+2) {
              margin-right: 30px;
            }

            &:nth-child(3n+2) {
              margin-right: 30px;
            }

            &:nth-child(6n){
              margin-bottom: 0;
            }

        }
}

.client__icon {
  fill: #afb1b8;
  transition: fill var(--duration) var(--timing-function);
}

.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color var(--duration) var(--timing-function);

  &:hover,
  &:focus {
      border: 1px solid var(--accent-color);
    }

  &:hover .client__icon,
  &:focus .client__icon {
    fill: var(--accent-color);
  }
}