body {
    background-color: var(--primary-white-color);
    font-family: "Roboto", sans-serif;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
    @media screen and (min-width: 480px) and (max-width: 767px) {
            padding-bottom: 60px;
            padding-top: 60px;
        }
    
        @media screen and (max-width: 479px) {
            padding-bottom: 60px;
            padding-top: 60px;
        }
    
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            padding-bottom: 60px;
            padding-top: 60px;
        }
}

.main__title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-top: 0;
    margin-bottom: 50px;
    margin-left: 0;
    margin-right: 0;
    
    @media screen and (min-width: 480px) and (max-width: 767px) {
            margin-bottom: 30px;
        }
    
        @media screen and (max-width: 479px) {
            margin-bottom: 30px;
        }
    
        @media screen and (min-width: 768px) and (max-width: 1199px) {
}
}